@model EjercicioPropuestos_MVC_CALLE.Models.ClsNroCalculo
@{
    ViewBag.Title = "Index";
}

<h2>Calcular Numero Ingresado</h2>

@using (Html.BeginForm("Index", "CalculoNro", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.nro, "Ingrese Numero")
        @Html.EditorFor(model => model.nro)
        <input type="submit" value="Agregar Número" class="btn btn-success" />
    </p>

}
<div class="form-inline">
    <div class="form-group">
        @Html.TextAreaFor(model => ViewData["Resultado"], new {
        rows = "10",
        cols = "30"
        })
    </div>
    <div class="form-group text-right">
        @using (Html.BeginForm("Calcular", "CalculoNro", FormMethod.Post))
        {
            <br />
            <br />
            <label>Suma</label>
            <input type="text" value="@Model.suma" />
            <br />
            <br />
            <label>Promedio</label>
            <input type="text" value="@Model.promedio" />
            <br />
            <br />
            <label>Maximo</label>
            <input type="text" value="@Model.maxnro" />
            <br />
            <br />
            <label>Minimo</label>
            <input type="text" value="@Model.minnro" />
            <br /><br />
            <input type="submit" value="Calcular" class="btn btn-info" />
        }
    </div>
</div>






