
@{
    ViewBag.Title = "CalcularParesImpares";
}

<h2>CalcularParesImpares</h2>

@model Laboratorio06_MVC_CALLE.Models.ClsParImpar
    @{ 
        ViewBag.Title = "CalcularParesImpares";
        String val = "x";
        int pares = 0;
        int Impares = 0;
        int PromedioCPares = 0;
        int PromedioCImpares = 0;
        int TotalCuadrados = 0;
        int TotalCubos = 0;
    }
<h2>Calcular Pares Impares</h2>
<table class="table table-bordered">
    <tr>
        <td>Numero</td>
        <td>Par</td>
        <td>Impar</td>
        <td>Cuadrado</td>
        <td>Cubos</td>
    </tr>
    @{ 
        int Parescuadrados = 0;
        int totalparescuadrados = 0;
        int imparescuadrados = 0;
        int totalimparescuadrados = 0;
        for(int i=1; i <= Model.Numero; i++)
        {
            TotalCuadrados += (i * i);
            TotalCubos += (i * i * i);
            if(i % 2 == 0)
            {
                pares++;
            }
            else
            {
                Impares++;
            }if ((i *i) % 2 == 0)
            {
                Parescuadrados++;
                totalimparescuadrados += (i * i);
            }
            else
            {
                imparescuadrados++;
                totalimparescuadrados += (i * i * i);
            }
            <tr>
                <td>@i</td>
                <td>@if (@i % 2 == 0)
                {
                    @val
                }
                </td>
                <td>
                    @if (@i % 2 != 0)
                {
                    @val
                }
            </td>
                <td>@(i*i)</td>
                <td>@(i * i * i)</td>
            </tr>
        }
        if(Parescuadrados != 0 && imparescuadrados != 0){
            PromedioCPares = totalparescuadrados / Parescuadrados;
            PromedioCImpares = totalimparescuadrados / imparescuadrados;

        }
    }

</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Resultado</th>
            <th>Cantidad</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Cantidad de Pares: </td>
            <td>@pares</td>
        </tr>
        <tr>
            <td>Cantidad de impares: </td>
            <td>@Impares</td>
        </tr>
        <tr>
            <td>total cuadrados pares: </td>
            <td>@PromedioCPares</td>
        </tr>
        <tr>
            <td>total cuadrado impares: </td>
            <td>@PromedioCImpares</td>
        </tr>
        <tr>
            <td>suma total de cuadrados: </td>
            <td>@TotalCuadrados</td>
        </tr>
        <tr>
            <td>suma total de cubos: </td>
            <td>@TotalCubos</td>
        </tr>
    </tbody>
</table>

