@model EjercicioPropuestos_MVC_CALLE.Models.ClsPositivoNegativo
@{
    ViewBag.Title = "Index";
}

<h2>Positivos y Negativos</h2>

<div class="form-inline">
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
</div>

@using (Html.BeginForm("Calcular", "ListarPosNeg", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.arraynumero[0], "")
        @Html.EditorFor(model => model.arraynumero[0], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[1], "")
        @Html.EditorFor(model => model.arraynumero[1], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[2], "")
        @Html.EditorFor(model => model.arraynumero[2], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[3], "")
        @Html.EditorFor(model => model.arraynumero[3], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[4], "")
        @Html.EditorFor(model => model.arraynumero[4], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[5], "")
        @Html.EditorFor(model => model.arraynumero[5], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[6], "")
        @Html.EditorFor(model => model.arraynumero[6], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[7], "")
        @Html.EditorFor(model => model.arraynumero[7], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[8], "")
        @Html.EditorFor(model => model.arraynumero[8], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumero[9], "")
        @Html.EditorFor(model => model.arraynumero[9], "0")
    </p>

    <input type="submit" value=" ORDENAR " />
    <br />
    <br />
    if (Session["i"] == null)
    {
        Session["i"] = 1;
    }
    else
    {
        int cont = Convert.ToInt32(Session["i"]);
        Session["i"] = cont++;
        <p>Lista : </p><br />
        string cad = "";
        for (int i = 0; i < 10; i++)
        {
            cad = cad + Model.arraynumero[i].ToString() + "   ";
        }
        cad = cad.Remove(cad.Length - 3, 3);
        <b>@cad</b><br /><br />
        <h2>Positivos : </h2><br />
        string cad2 = "";
        for (int i = 0; i < Model.arraypositivos.Length; i++)
        {
            cad2 = cad2 + Model.arraypositivos[i].ToString() + "   ";
        }
        cad2 = cad2.Remove(cad2.Length - 3, 3);
        <b>@cad2</b><br /><br />
        <h2>Negativos: </h2><br />
        string cad3 = "";
        for (int i = 0; i < Model.arraynegativos.Length; i++)
        {
            cad3 = cad3 + Model.arraynegativos[i].ToString() + "   ";
        }
        cad3 = cad3.Remove(cad3.Length - 3, 3);
        <b>@cad3</b><br /><br />
    }
}
