@model EjercicioPropuestos_MVC_CALLE.Models.ClsMediaNros
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("CalcularMedia", "MediaNros", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.arraynumeros[0], "")
        @Html.EditorFor(model => model.arraynumeros[0], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[1], "")
        @Html.EditorFor(model => model.arraynumeros[1], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[2], "")
        @Html.EditorFor(model => model.arraynumeros[2], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[3], "")
        @Html.EditorFor(model => model.arraynumeros[3], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[4], "")
        @Html.EditorFor(model => model.arraynumeros[4], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[5], "")
        @Html.EditorFor(model => model.arraynumeros[5], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[6], "")
        @Html.EditorFor(model => model.arraynumeros[6], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[7], "")
        @Html.EditorFor(model => model.arraynumeros[7], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[8], "")
        @Html.EditorFor(model => model.arraynumeros[8], "0")
    </p>
    <p>
        @Html.LabelFor(model => model.arraynumeros[9], "")
        @Html.EditorFor(model => model.arraynumeros[9], "0")
    </p>

    <input type="submit" value=" SEPARAR " />
    <br />
    <br />
    if (Session["i"] == null)
    {
        Session["i"] = 1;
    }
    else
    {
        int cont = Convert.ToInt32(Session["i"]);
        Session["i"] = cont++;
        <p>NUMEROS : </p><br />
        string cad = "";
        for (int i = 0; i < 10; i++)
        {
            cad = cad + Model.arraynumeros[i].ToString() + "   ";
        }
        cad = cad.Remove(cad.Length - 3, 3);
        <b>@cad</b><br /><br />
        <p>NUMEROS PARES : </p><br />
        string cad2 = "";
        for (int i = 0; i < Model.arraypares.Length; i++)
        {
            cad2 = cad2 + Model.arraypares[i].ToString() + "   ";
        }
        cad2 = cad2.Remove(cad2.Length - 3, 3);
        <b>@cad2</b><br /><br />
        <p>MEDIA PAR : </p><br />
        <b>@Model.mediapares</b><br /><br />
        <p>NUMEROS IMPARES : </p><br />
        string cad3 = "";
        for (int i = 0; i < Model.arrayimpares.Length; i++)
        {
            cad3 = cad3 + Model.arrayimpares[i].ToString() + "   ";
        }
        cad3 = cad3.Remove(cad3.Length - 3, 3);
        <b>@cad3</b><br /><br />
        <p>MEDIA IMPAR : </p><br />
        <b>@Model.mediaimpares</b><br /><br />

    }
}

