@model Laboratorio_06.Models.ClsAuto
@{
    ViewBag.Title = "RICHARD CAR";
}

<h2>RICHARD CAR - Alquiler de Autos</h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <th>Auto</th>
        <th>Precio por dia</th>
    </tr>
    <tr>
        <td>Chico</td>
        <td>S/. 15</td>
    </tr>
    <tr>
        <td>Mediano</td>
        <td>S/. 20</td>
    </tr>
    <tr>
        <td>Grande</td>
        <td>S/. 30</td>
    </tr>
</table>

<br />
@using (Html.BeginForm("CalcularAlquiler", "Calcular", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.km_recorrido, "Kilometros Recorridos: ")
        @Html.EditorFor(model => model.km_recorrido)
    </p>
    <p>
        @Html.LabelFor(model => model.cant_dias, "Cantidad de Dias: ")
        @Html.EditorFor(model => model.cant_dias)
    </p>
    <p>
        @Html.LabelFor(model => model.tipo_auto, "Tipo Auto")
        @Html.DropDownListFor(model => model.tipo_auto, new List<SelectListItem>
            {
            new SelectListItem() {Text = "Auto Chico", Value="Chico"},
            new SelectListItem() {Text = "Auto Mediano", Value="Mediano"},
            new SelectListItem() {Text = "Auto Grande", Value="Grande"}
            }
        )
    </p>


    <input type="submit" value="Calcular" />
}