@model EjercicioPropuestos_MVC_CALLE.Models.ClsCajero
@{
    ViewBag.Title = "Index";
}



<h2>Global Net</h2>

@using (Html.BeginForm("Index", "Cajero", FormMethod.Post))
{
    <span class="glyphicon glyphicon-piggy-bank"></span>
    <p>
        @Html.LabelFor(model => model.monto_, "Ingrese un monto : ")
        @Html.EditorFor(model => model.monto_)<br />
        @Html.ValidationMessage("Debe ingresar un monto.")
    </p>
    <input class="btn btn-primary" type="submit" value="Calcular" />

    if (Session["i"] == null)
    {
        Session["i"] = 1;
    }
    else
    {
        Session["i"] = Convert.ToInt32(Session["i"]) + 1;
        <div>
            <h3>Detalle</h3><br />
            <label>Monto : </label>@Model.monto_<br /><br />
            <label>Billete de 100 : </label>@Model.de100<br />
            <label>Billete de 50 : </label>@Model.de50<br />
            <label>Billete de 20 : </label>@Model.de20<br />
            <label>Billete de 10 : </label>@Model.de10<br /><br />
            <label>Cantidad de billetes : </label>@Model.cantidad<br /><br />
        </div>
    }


}
