@model Laboratorio06_MVC_CALLE.Models.ClsBilletes
@{
    ViewBag.Title = "Index";
}

<h2>Billetes</h2>
@using (Html.BeginForm("Index", "Billetes", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.monto, "Total s/. ")
        @Html.EditorFor(model => model.monto)
        @Html.ValidationMessageFor(model => model.monto)
    </p>

    <button class="btn-primary">Calcular</button>

    <div>
        <p><b>Cant de s/. 100</b> <strong class="text-primary">@Model.b100</strong> </p>
        <p><b>Cant de s/. 50</b> <strong class="text-primary">@Model.b50</strong> </p>
        <p><b>Cant de s/. 20</b> <strong class="text-primary">@Model.b20</strong> </p>
        <p><b>Cant de s/. 10</b> <strong class="text-primary">@Model.b10</strong> </p>
    </div>
}

